<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>ABS Census Map</title>
    </head>
    <body>
        <nav>
            <form id="filter">
                <fieldset>
                    {% for level in levels %}
                        {% if loop.index == 1 %}
                            <input class="level-selector" id="level{{ level }}" type="radio" name="level" value="{{ level }}" checked><label for="level{{ level }}">{{ level }}</label>
                        {% else %}
                            <input class="level-selector" id="level{{ level }}" type="radio" name="level" value="{{ level }}"><label for="level{{ level }}">{{ level }}</label>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <fieldset>
                    {% for state in states %}
                        <input class="state-selector" id="state{{ state }}" type="checkbox" name="states" value="{{ state }}" disabled><label for="state{{ state }}">{{ state }}</label>
                    {% endfor %}
                </fieldset>
                <fieldset>
                    <select name="statistic">
                        <option value="">Select target statistic</option>
                        {% for datapack, fields in datapacks.items() %}
                            <optgroup label="{{ datapack }}">
                                {% for short, long in fields.items() %}
                                    <option value="{{ datapack }}:{{ short }}">{{ long.replace('_', ' ') }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                    <select name="function">
                        <option value="">Select function</option>
                        <option value="normalise" disabled>Normalise</option>
                        <option value="density">Density</option>
                    </select>
                </fieldset>
                <fieldset>
                    <input id="submitButton" type="submit" value="Fetch Data">
                    <button id="reset">Reset Zoom</button>
                </fieldset>
            </form>
        </nav>
        <main>
            <div id="map"></div>
        </main>
    </body>
</html>